/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.json
/public/bower_components
composer.lock
/public/images
/public/js/bootstrap.min.js
/public/js/jquery-3.3.1.min.js
