    .progress-bar{
        width : 40%;
    }

    .list-inline .siteA{
        color: #dadada;
    }

    .list-inline .siteB{
        color: #aec9cb;
    }

    #morris-area-chart2{
        height: 370px;
    }

    #side-menu li:first-child{
        padding: 10px 0 0;
    }
    .error, .error_msg{
        font-size : 18px;
        color : #793e3e;
    }
    .paid_check{
        color : #1D801B;
    }
    .paid_uncheck{
        color : #7d1717;
    }
    .fullscreen{
        width : 90%;
        margin : auto;
    }
    .order_modal{
        width : 100%;
    }
