    #socialicons>a span { 
        top: 0px;
        left: -100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    #socialicons>ahover div {
        left: 0px;
    }
    label{
        margin-left: 20px;
    }
    #datepicker {
        width:180px; 
        margin: 0 20px 20px 20px;
    }
    #datepicker > span:hover {
        cursor: pointer;
    }
    .image1 {
        width: 244px;
        height: 325px;
    }
    .image2 {
        width: 87px;
        height: 128px;
    }
    .image3 {
        width: 140px;
        height: 207px;
    }
    .image4 {
        width: 220px;
        height: 220px;
    }
    .price_sale {
        color: red;
    }
    .image5 {
        width: 398px;
        height: 530px;
    }
    .image6 {
        width: 140px;
        height: 207px;
    }
